@{
    ViewData["Title"] = "Home Page";
}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3T9GvC4CuWb44XgDp_QSlt8ry-1dWBBE"></script>  



<div id="map-canvas" style="width:100%;height:600px;"></div>  

