@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<section class="h-100 gradient-form">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6" style="background-color:black">
                            <div class="card-body p-md-5 mx-md-4" >

                                <div class="text-center">
                                    <img src="~/images/cyclelogo.png"
                                         style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">We are The MIT Team</h4>
                                </div>

                                <form id="account" method="post">
                                    <p style="color:white;font-weight:bold">Please login to your account</p>

                                    <div class="form-outline mb-4">
                                         <label class="form-label" for="form2Example11" style="color:white;font-weight:bold">Username</label>
                                               <input asp-for="Input.Email" class="form-control" placeholder="Phone number or email address" autocomplete="username" aria-required="true" />
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                       
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example22" style="color:white;font-weight:bold">Password</label>
                                        
                                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        
                                    </div>
                                   
                                    <div class="form-outline mb-4">
                                        <button id="login-submit" type="submit" class="w-100 btn btn-lg gradient-custom-2">Log in</button>
                                        
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">We are more than just a company</h4>
                                <p class="small mb-0">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
